<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/dashboard/clientes">Clientes</button>
    <button mat-menu-item routerLink="/dashboard/empleados">Empleados</button>
    <button mat-menu-item routerLink="/dashboard/productos">Productos</button>
    <button mat-menu-item routerLink="/dashboard/reportes">Reportes</button>
  </mat-menu>

  <span>Sistema UTP</span>
  <span class="example-spacer"></span>
  <button mat-flat-button routerLink="/dashboard/clientes">Clientes</button>
  <button mat-flat-button routerLink="/dashboard/empleados">Empleados</button>
  <button mat-flat-button routerLink="/dashboard/productos">Productos</button>
  <button mat-flat-button routerLink="/dashboard/reportes">Reportes</button>
  <button mat-flat-button routerLink="/login">Cerrar sesion</button>
</mat-toolbar>
