<div class="body">
  <div class="login">
    <form [formGroup]="form" (ngSubmit)="login()">
      <h1>Loguéate</h1>

      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>

      <button type="submit" mat-flat-button color="primary" class="ancho">Ingresar</button>
    </form>
  </div>
</div>
